{
  "semi": true,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "server/", "client/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
